@tailwind base;
@tailwind components;
@tailwind utilities;
.noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@layer utilities {
    .bunk {
        transition: max-height 0.35s;
    }
    .close {
        transition: max-height 0.15s;
        max-height: 0;
    }
    
    .open {
        max-height: 500px;
    }

    .text-vw {
        font-size: 0.5vw;
    }

    .no-resize, .resize {
        font-size: 15px
    }

}