@tailwind base;
@tailwind components;
@tailwind utilities;
.noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@layer utilities {
    .thing {
        width: 16rem;
        background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
    }
}