@tailwind base;
@tailwind components;
@tailwind utilities;
.noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@layer utilities {
    .bunk {
        transition: max-height 0.15s;
    }
    .closed {
        max-height: 0;
    }
    
    .open {
        max-height: 500px;
    }
}